:root {
  --blanco-1: 11, 1%, 94%;
  --blanco-2: 11, 1%, 74%;
  --fondo-hueso: #f0ecec;
  --fondo-hueso-transparente: hsla(0, 11%, 93%, 0.935);
  --color-empresarial: #069898;
  --color-empresarial-anticontraste: hsl(180, 90%, 35%);
  --color-facebook: #4267b2;
  --color-instagram: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );

  /* --baloo: "Baloo Tamma 2", cursive;
  --ruluko: "Ruluko", sans-serif; */
}
/* Globales */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  padding: 0;
  margin: 0;
  /* font-family: var(--ruluko); */
  /* font-family: 'Baloo Tamma 2', cursive; */
  font-family: "Ruluko", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

.center-text {
  text-align: center;
}

.container {
  margin: 0 auto;
  width: 90vw;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-1 {
  margin-bottom: 1rem;
}
/* ---Fin Globales--- */

/* carga */

.pantalla-carga {
  position: fixed;
  z-index: 999;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--color-empresarial-anticontraste);
}

.pantalla-carga h1,
.pantalla-carga h2,
.pantalla-carga h3 {
  color: #fff;
}

.pantalla-carga::before {
  content: "MAS Energías Renovables";
  color: #fff;
  font-size: 3.5rem;
  font-weight: 700;
  letter-spacing: 2px;
}

.carga-completa {
  /* background-color: red; */
  transition: transform 500ms ease-in-out;
  transform: rotateX(90deg);
}

.cambio-pantalla {
}

/* @keyframes{
  from{

  }

  to{

  }


} */

/* Botones */

.btn {
  /* display: block; */
  border: 0.1rem solid var(--color-empresarial);
  padding: 0.4rem 1rem;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 6px;
}

.btn-transparente {
  background-color: transparent;
  color: var(--color-empresarial);
}

.btn-empresarial {
  color: #fff;
  background-color: var(--color-empresarial-anticontraste);
}

.resalta {
  /* transform: scale(2); */
  animation: resaltar 1s infinite ease-in-out;
}
@keyframes resaltar {
  /* 0%{
    transform: scale(1);
  } */
  50% {
    transform: scale(1.05);
  }

  /* 100%{
    transform: scale(1);
  } */
}

/* .call-to-action:hover{
  animation: 0 ;
} */

/* ---Fin Botones--- */

@media (min-width: 768px) {
  .btn {
    padding: 0.8rem 2rem;
    font-size: 1.4rem;
  }
}

.desktop-header {
  display: none;
}

.desktop-nav {
  display: none;
}

.mobile-header {
  display: block;
  background-color: var(--color-empresarial-anticontraste);
  position: fixed;
  top: 0%;
  width: 100%;
  z-index: 10;
  padding: 0.75rem 0;
}

.mobile-header > .container {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.mobile-header .logo {
  color: #fff;
  font-size: 1.2rem;
}

.hamburger-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;

  border: 2px solid #fff;
  border-radius: 5px;
  padding: 2px 2px;
  transition: all 0.5s ease-in-out;
}

.hamburger-menu span {
  display: block;
  width: 30px;
  height: 2px;
  background-color: #fff;
  margin: 2px 5px;
  border-radius: 9px;
}

.hamburger-navbar {
  position: absolute;
  display: none;
  align-items: center;
  justify-content: center;
  right: -50%;
  width: 12rem;
  height: auto;
  z-index: 10;
  background-color: var(--color-empresarial-anticontraste);
}

.hamburger-navbar > ul {
  padding: 0 0;
  text-align: center;
  list-style: none;
}

.hamburger-navbar > ul li {
  padding: 0.75rem 0;
}
.hamburger-navbar > ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
}

.open {
  display: flex;
  right: 0%;
  /* opacity: 0; */
  animation: appear 0.3s ease-in;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.main-header {
  display: flex;
  flex-direction: column;

  max-height: 100vh;
  min-height: 40rem;
  height: 100vh;
  /* overflow: hidden; */
}

.homepage {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  /* width: 100%; */
  height: 100vh;
  background: url(img/panel_solar_0.jpg);
  /* background-image: linear-gradient(to bottom, hsla(60, 1%, 26%, 0.192), hsla(241, 50%, 50%, 0.801)), url(img/panel_solar_0.jpg); */
  background-position: center center;
  background-size: cover;
}

/* .homepage::before{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: hsla(0, 2%, 65%, 0.432); 
  z-index: 1;

} */

.homepage-headline h2 {
  text-align: center;
  color: #fff;
  letter-spacing: -1px;
  text-shadow: #000 0px 0px 10px, #000 0px 0px 10px;
  font-size: 2rem;
}

.social-media {
  /* color: var(--color-facebook); */
  font-size: 2rem;
  cursor: pointer;
  margin: 0 0.05rem;
}

.fab.fa-whatsapp {
  color: #03ce1e;
  margin-left: 0.2rem;
}

.fab.fa-facebook-square {
  color: var(--color-facebook);
}
.fab.fa-instagram {
  /* color: var(--color-instagram); */
  color: transparent;
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  background: -webkit-radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  background-clip: text;
  -webkit-background-clip: text;
}

@media (min-width: 768px) {
  .container {
    margin: 0 auto;
    width: 85vw;
  }

  .mobile-header {
    display: none;
  }

  .desktop-header {
    display: block;
    flex: 0 0 auto;
    /* min-height: 15vh; */
    /* max-height: 20vh; */
  }

  .desktop-header > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .desktop-header > .container > .logo {
    flex: 0 1 12rem;
  }

  .desktop-header > .container > .contact-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    /* justify-content: space-between; */
  }

  .fono a {
    color: var(--color-empresarial);
    color: #000;
    text-decoration: none;
  }

  .social-media {
    margin: 0 0.05rem;
  }

  .fab.fa-whatsapp {
    color: #03ce1e;
    font-size: 2rem;
    margin-left: 0.2rem;
  }

  .fab.fa-facebook-square {
    color: var(--color-facebook);
  }
  .fab.fa-instagram {
    /* color: var(--color-instagram); */
    color: transparent;
    background: radial-gradient(
      circle at 30% 107%,
      #fdf497 0%,
      #fdf497 5%,
      #fd5949 45%,
      #d6249f 60%,
      #285aeb 90%
    );
    background: -webkit-radial-gradient(
      circle at 30% 107%,
      #fdf497 0%,
      #fdf497 5%,
      #fd5949 45%,
      #d6249f 60%,
      #285aeb 90%
    );
    background-clip: text;
    -webkit-background-clip: text;
  }

  .desktop-nav {
    position: relative;
    flex: 0 0 auto;
    display: block;
    /* position: -webkit-sticky; */
    /* position: sticky; */
    /* top: 0; */
    z-index: 10;
    background-color: var(--color-empresarial-anticontraste);
  }

  .sticky-navbar {
    position: fixed;
    top: 0%;
    z-index: 10;
    width: 100%;
  }

  .sticky-navbar + .homepage {
    margin-top: 41px;
  }

  .sticky-navbar + .historia {
    margin-top: 41px;
  }

  .desktop-nav > .container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .desktop-nav > .container a {
    margin: 0.4rem 1rem;
    text-decoration: none;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 600;
    padding: 0.1rem 1rem;
    border-radius: 2rem;
  }

  .desktop-nav > .container a:hover {
    color: var(--color-empresarial);
    background-color: #fff;
  }

  .nav-empresa {
    position: absolute;
    color: #fff;
    top: 50%;
    left: 1%;
    opacity: 0;
    transform: translate(0, -50%);
    transition: all 0.5s ease-in-out;
  }

  .nav-empresa.nav-empresa-activo {
    opacity: 1;
  }

  .homepage {
    flex: 1 0 auto;
    height: auto;
  }

  .homepage-headline h2 {
    font-size: 2.8rem;
  }

  .homepage-headline h2 {
    letter-spacing: -2px;
    /* text-shadow: rgb(59, 123, 219) 0px 0px 10px, rgb(1, 160, 252) 0px 0px 5px; */
    /* font-size: 1.1rem; */
  }
}

/* Sección Quienes Somos */
.historia {
  padding: 0;
  /* background-color: hsl(135, 56%, 55%); */
  background: url("/img/bosque.jpg");
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.historia .container {
  padding: 3.5rem 0.25rem 0 0.25rem;
  /* border-radius: 1rem; */
  background-color: var(--fondo-hueso);
}

.empresa {
  text-align: center;
}

.empresa > h1 {
  margin-bottom: 0.5rem;
  font-size: 1.8rem;
}

.empresa p,
.vision p,
.mision p {
  font-size: 1rem;
  line-height: 1.3rem;
  text-align: justify;
  padding: 0 2rem;
}

.mision,
.vision {
  margin-top: 1rem;
}

.mision > h3,
.vision > h3 {
  margin-bottom: 0.5rem;
  margin-left: 1rem;
}

.vision ul {
  margin-left: 3rem;
  font-size: 1rem;
  padding-right: 2rem;
}

.vision ul li {
  text-align: justify;
}

.vision + h2 {
  margin: 1rem 0;
  text-align: center;
}

@media (min-width: 768px) {
  .historia {
    padding: 0;
  }

  .historia > .container {
    padding: 1rem 1rem;
  }

  .empresa > h1 {
    font-size: 1.8rem;
  }
  .historia p,
  .mision p,
  .vision p {
    font-size: 1.2rem;
    line-height: 1.8rem;
  }

  .vision ul {
    font-size: 1.2rem;
  }

  .vision + h2 {
    margin: 2rem 0 1rem 0;
    text-align: center;
  }
}
/* -------- */

/* Servicios */

.servicios {
  background-color: var(--fondo-hueso);
  padding: 1rem 0;
}

.servicios p {
  font-size: 1rem;
  line-height: 1.3rem;
}

.servicios-heading {
  padding: 1rem 0;
  margin-bottom: 1rem;
  font-size: 2.2rem;

  text-align: center;
  width: 100%;
}

.icono-servicio {
  width: 10rem;
  margin-bottom: 2rem;
  transition: transform 0.3s ease;
}

.icono-servicio:hover {
  transform: scale(1.05);
}
/* deprecated */
/* .icono-servicios {
  color: var(--color-empresarial);
  font-size: 7rem;
  margin-bottom: 2rem;
} */

.servicios-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
}

.caja-servicio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 2rem 2.5rem;
  margin: 0;
  min-height: 17rem;
  flex: 0 1 20rem;

  margin-bottom: 1rem;
  /* border: 2px solid #000 */
  /* height: ; */
  border-radius: 20px;
  background-color: #fff;
}

.caja-servicio p {
  text-align: justify;
  text-justify: inter-word;
}

@media (min-width: 768px) {
  .servicios {
    padding: 2rem 0;
  }

  .servicios p {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }

  .servicios-heading {
    margin-bottom: 2rem;
  }

  .servicios-wrapper {
    flex-direction: row;
  }

  .icono-servicio {
    width: 13rem;
  }

  .caja-servicio {
    padding: 2rem 2rem;
    margin: 0 1rem;
    min-height: 24rem;
    flex: 0 1 22vw;

    margin-bottom: 2rem;
    /* border: 2px solid #000; */

    /* height: ; */
  }
}

/* Fin Servicios */

/* Atajo Historia */

.atajo-historia {
  background-color: var(--color-empresarial-anticontraste);
}

.contenido-atajo-historia {
  padding: 3rem 1rem 3rem 1rem;
}

.contenido-atajo-historia h2 {
  color: #fff;
  font-size: 2rem;
  font-weight: 900;
  letter-spacing: -1px;
}

.btn-historia {
  display: block;
  padding: 0.7rem;
  width: 10rem;
  text-align: center;
  color: var(--color-empresarial-anticontraste);
  background-color: #fff;
}

@media (min-width: 768px) {
  .contenido-atajo-historia {
    padding: 10rem 1rem 10rem 1rem;
  }

  .contenido-atajo-historia h2 {
    color: #fff;
    font-size: 4rem;
  }

  .btn-historia {
    /* padding: 1.2rem 3rem; */
    padding: 1rem;
    width: 13rem;
  }
}

/* Fin Atajo Historia */

/* Proyectos */

.proyectos {
  padding: 1rem 0;
  background: url("/img/bosque.jpg");
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.intro-proyectos {
  width: 100%;
  padding: 2rem 0;
  /* min-height: 25rem; */
  /* font-variant: historical-forms; */
}

.intro-proyectos h2 {
  color: #fff;
  font-size: 2.2rem;
  font-weight: 900;
  text-shadow: #000 0px 0px 10px, #000 0px 0px 10px;
  letter-spacing: -1px;
}

.proyecto {
  margin: 1rem 0;
  width: 100%;
  /* background-color: var(--fondo-hueso); */
  /* background-color: rgba(224, 222, 222, 0.945); */
  background-color: var(--fondo-hueso-transparente);
  border-radius: 20px;
}

.titulo-proyecto {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 0.5rem 0;
  text-align: center;
  color: #fff;
  background-color: var(--color-empresarial-anticontraste);
}

.contenido-proyecto {
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  align-items: center;
}

.parrafo-proyecto {
  /* width:  calc(50% - 1rem); */
  padding: 1rem 1rem;
  font-size: 1rem;
}

.imagen-proyecto {
  /* width:  calc(50% - 1rem); */
}

@media (min-width: 768px) {
  .proyectos {
    padding: 1rem 0;
  }

  .intro-proyectos {
    padding: 5rem 1rem 5rem 1rem;
    min-height: 27rem;
    /* font-variant: historical-forms; */
  }

  .intro-proyectos h2 {
    color: #fff;
    font-size: 4rem;
    font-weight: 900;
    text-shadow: #000 0px 0px 10px, #000 0px 0px 10px;
    letter-spacing: -1px;
  }

  .proyecto {
    margin: 1rem 0;
  }

  .titulo-proyecto {
    padding: 0.5rem 0;
  }

  .contenido-proyecto {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  .parrafo-proyecto {
    padding: 3rem 3rem 0rem 3rem;
    width: 60%;
    line-height: 1.8rem;
    font-size: 1.2rem;
  }

  .imagen-proyecto {
    width: 40%;
    display: flex;
    justify-content: center;
  }
}

/* Fin Proyectos */

/* Contacto */

.contacto {
  background-color: lightgray;
  padding: 1rem 0;
}

.contacto > .container {
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
}

.contacto > .container > div {
  padding: 1rem 0;
  /* margin-bottom: 0; */
}

.ubicacion {
  /* flex: 0 0 50%; */
  width: 100%;
}

.mapa-ubicacion {
  width: 100%;
  /* height: 100%; */
}

.mapa-ubicacion iframe {
  min-height: 20rem;
  width: 100%;
}

.formulario-contacto {
  position: relative;
  width: 100%;
}

.formulario-contacto a {
  color: var(--color-empresarial-anticontraste);
  text-decoration: none;
}

.formulario-contacto h2 {
  font-weight: 500;
}

.formulario-contacto span {
  color: var(--color-empresarial-anticontraste);
}

.formulario-contacto input {
  display: block;
  height: 3rem;
  width: 100%;
  margin: 0.3rem 0;
  font-size: 1.4rem;
  resize: none;
  padding: 0.5rem;
  /* border-radius: 5px; */
  font-family: inherit;
}

.formulario-contacto textarea {
  display: block;
  height: 15rem;
  width: 100%;
  font-size: 1.4rem;
  padding: 0.5rem;
  margin: 0.3rem 0;
  resize: none;
  /* border-radius: 5px; */
  font-family: inherit;
}

.formulario-contacto button {
  display: block;
  width: 100%;
  cursor: pointer;
  font-size: 1.4rem;
  /* border-radius: 20px; */
  /* outline: hsl(234, 60%, 53%) double 2rem; */
  color: #fff;
  padding: 0.5rem;
  background-color: var(--color-empresarial-anticontraste);
  font-family: inherit;
}

.mensaje-contacto {
  position: absolute;
  left: 50%;
  bottom: 0%;
  transform: translate(-50%, -50%);
  color: #000;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

@media (min-width: 768px) {
  .contacto {
    padding: 2rem 0;
  }

  .contacto > .container {
    flex-direction: row;
  }

  .contacto > .container > div {
    padding: 2rem 0;
    /* margin-bottom: 0; */
  }

  .ubicacion {
    margin-right: 1rem;
    /* flex: 0 0 50%; */
    /* height: 100%; */
    width: 50%;
  }

  .mapa-ubicacion {
    width: 100%;
    /* height: 100%; */
  }

  .mapa-ubicacion iframe {
    height: 100%;
    width: 100%;
  }

  .formulario-contacto {
    margin-left: 1rem;
    flex: 0 0 50%;
    width: 50%;
  }
}

/* Fin contacto */

.site-footer {
  background-color: var(--color-empresarial-anticontraste);
  padding: 1rem 0;
  /* height: 20vh; */
}

.site-footer > .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.site-footer > .container > div {
  margin: 0.5rem 0;
}

.footer-logo {
  /* width: 33%; */
  flex: 1;
  color: #fff;
  font-size: 0.8rem;
  text-align: center;
}

.footer-nav {
  /* width: 33%; */
  flex: 1.4;
  text-align: center;
}

.footer-nav a {
  color: #fff;
  text-decoration: none;
  font-size: 0.8rem;
  margin: 0;
}

.footer-social-media {
  flex: 1;
  text-align: center;
  /* width: 33%; */
}

.footer-social-media a {
  margin: 0 0.1rem;
}

.site-footer .social-media {
  color: #fff;
  font-size: 2rem;
}

.footer-mail {
  margin-top: 0.4rem;
  font-size: 1rem;
  color: #fff;
}

@media (min-width: 768px) {
  .site-footer {
    padding: 3rem 0;
  }

  .site-footer > .container {
    flex-direction: row;
  }

  .site-footer > .container > div {
    margin: 0;
  }

  .footer-nav a {
    font-size: 1rem;
    margin: 0 0.2rem;
  }

  .footer-nav a:hover {
    text-decoration: underline;
  }
}

.firma-dev {
  width: 100%;
  padding: 0.3rem 0;
  text-align: center;
  background-color: #000;
  color: #fff;
}

.firma-dev a {
  color: #fff;
  text-decoration: none;
}

.firma-dev a:hover {
  color: #0a4dc6;
}
